<div style="margin:5px; font-family:Lato; height:70vh; overflow-x: hidden;">
<p id="head">
STANDING UNSUPPORTED ONE FEET IN FRONT
</p>
<p style="font-weight:bold">INSTRUCTIONS: (DEMONSTRATE TO SUBJECT) Place one foot directly in front of the other. If you feel that you cannot place your foot directly in front, try to step far enough ahead that the heel of your forward foot is ahead of the toes of the other foot. (To score 3 points, the length of the step should exceed the length of the other foot and the width of the stance should approximate the subject's normal stride width).</p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="0" name="gender" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 ( loses balance while stepping or standing.)</label><br>
  <input type="radio" id="1" name="gender" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 ( needs help to step but can hold 15 seconds.)</label><br>
  <input type="radio" id="2" name="gender" value="2" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 ( able to take small step independently and hold 30 seconds.)</label><br>
  <input type="radio" id="3" name="gender" value="3" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="3" style="font-weight:bold">3 ( able to place foot ahead of other independently and hold 30 seconds.)</label><br>
  <input type="radio" id="4" name="gender" value="4" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="4" style="font-weight:bold">4 ( able to place foot tandem independently and hold for 30 seconds.)</label><br>
  <input type="radio" id="skip" name="gender" value="skip" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="skip" style="font-weight:bold">Not applicable/Skip</label><br>
  </form>
<button [routerLink]="['/survey12']" (click)="setScore13(flag)">
      Previous
    </button>
<button [routerLink]="['/survey14']" (click)="setScore13(flag)" [disabled]="!buttonDisabled">
      Next
    </button>
    </div>

    <app-timer></app-timer>
    <app-copyright></app-copyright>