<div style="margin:5px; font-family:Lato;">
<h1>
PLACING ALTERNATE FOOT ON STEP OR STOOL WHILE STANDING UNSUPPORTED
</h1>
<p style="font-weight:bold">INSTRUCTIONS: Place each foot alternately on the step/stool. Continue until each foot has touched the step/stool four times.</p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="male" name="gender" value="0">
  <label for="male" style="font-weight:bold">0 ( needs assistance to keep from falling/unable to try.)</label><br>
  <input type="radio" id="female" name="gender" value="1">
  <label for="female" style="font-weight:bold">1 ( able to complete >2 steps needs minimal assistance.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">2 ( able to complete 4 steps without aid with supervision.)</label><br>
  <input type="radio" id="other" name="gender" value="3">
  <label for="other" style="font-weight:bold">3 ( able to stand independently and complete 8 steps in >20 seconds.)</label><br>
  <input type="radio" id="other" name="gender" value="4">
  <label for="other" style="font-weight:bold">4 ( able to stand independently and safely and complete 8 steps in 20 seconds.)</label><br>
  <input type="radio" id="other" name="gender" value="skip">
  <label for="other" style="font-weight:bold">Not applicable/Skip</label><br>
<button [routerLink]="['/survey11']">
      Previous
    </button>
<button [routerLink]="['/survey13']">
      Next
    </button>

     <div id="appTimer" class="container">
  <p id="labelTimer"> Stopwatch </p><br>
	<button id="startTimer" (click)='start()'>START</button>
	<button id="stopTimer" (click)='stop()'>STOP</button>
	<button id="resetTimer" (click)='reset()'>RESET</button>
	<span id="time">{{minutes}}m {{seconds}}s</span>
</div>