<div style="margin:5px; font-family:Lato;">
<h1>
SITTING WITH BACK UNSUPPORTED BUT FEET SUPPORTED ON FLOOR OR ON A STOOL
</h1>
<p style="font-weight:bold">INSTRUCTIONS: Please sit with arms folded for 2 minutes. If a subject is able to stand 2 minutes unsupported, score full points for sitting unsupported. Proceed to item #4. </p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="male" name="gender" value="0">
  <label for="male" style="font-weight:bold">0 ( unable to sit without support for 10 seconds.)</label><br>
  <input type="radio" id="female" name="gender" value="1">
  <label for="female" style="font-weight:bold">1 ( able to sit 10 seconds.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">2 ( able to sit 30 seconds.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">3 ( able to sit 2 minutes under supervision.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">4 ( able to sit safely and securely for 2 minutes.)</label><br>
  <input type="radio" id="other" name="gender" value="skip">
  <label for="other" style="font-weight:bold">Not applicable/Skip</label><br>
<button [routerLink]="['/survey2']">
      Previous
    </button>
<button [routerLink]="['/survey4']">
      Next
    </button>

     <div id="appTimer" class="container">
  <p id="labelTimer"> Stopwatch </p><br>
	<button id="startTimer" (click)='start()'>START</button>
	<button id="stopTimer" (click)='stop()'>STOP</button>
	<button id="resetTimer" (click)='reset()'>RESET</button>
	<span id="time">{{minutes}}m {{seconds}}s</span>
</div>