<h1>
PICK UP OBJECT FROM THE FLOOR FROM A STANDING POSITION
</h1>
<p style="font-weight:bold">INSTRUCTIONS: Pick up the shoe/slipper which is placed in front of your feet.</p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="male" name="gender" value="0">
  <label for="male" style="font-weight:bold">0 ( unable to try/needs assist to keep from losing balance or falling.)</label><br>
  <input type="radio" id="female" name="gender" value="1">
  <label for="female" style="font-weight:bold">1 ( unable to pick up and needs supervision while trying.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">2 ( unable to pick up but reaches 1-2 inches from slipper and keeps balance independently.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">3 ( able to pick up slipper but needs supervision.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">4 ( able to pick up the slipper safely and easily.) </label><br>
<button [routerLink]="['/survey8']">
      Previous
    </button>
<button [routerLink]="['/survey10']">
      Next
    </button>