<div style="margin:5px; font-family:Lato;">
<h1>
TURNING TO LOOK BEHIND OVER LEFT AND RIGHT SHOULDERS WHILE STANDING
</h1>
<p style="font-weight:bold">INSTRUCTIONS: Turn to look directly behind you over toward left shoulder. Repeat to the right. Examiner may pick an object to look at directly behind the subject to encourage a better twist turn.</p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="0" name="q10" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 ( needs assist to keep from losing balance or falling.)</label><br>
  <input type="radio" id="1" name="q10" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 ( needs supervision when turning.)</label><br>
  <input type="radio" id="2" name="q10" value="2" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 ( turns sideways only but maintains balance.)</label><br>
  <input type="radio" id="3" name="q10" value="3" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="3" style="font-weight:bold">3 ( looks behind one side only; other side shows less weight shift.)</label><br>
  <input type="radio" id="4" name="q10" value="4" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="4" style="font-weight:bold">4 ( looks behind from both sides and weight shifts well.) </label><br>
  <input type="radio" id="skip" name="q10" value="skip" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="skip" style="font-weight:bold">Not applicable/Skip</label><br>
<button [routerLink]="['/survey9']"  (click)="setScore10(flag)" >
      Previous
    </button>
<button [routerLink]="['/survey11']"  (click)="setScore10(flag)" [disabled]="!buttonDisabled">
      Next
    </button>