<div style="margin:5px; font-family:Lato;">
<h1>
TRANSFERS
</h1>
<p style="font-weight:bold">INSTRUCTIONS: Arrange chairs(s) for a pivot transfer. Ask subject to transfer one way toward a seat with armrests and one way toward a seat without armrests. You may use two chairs (one with and one without armrests) or a bed and a chair. </p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="0" name="gender" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 ( needs two people to assist or supervise to be safe.)</label><br>
  <input type="radio" id="1" name="gender" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 ( needs one person to assist.)</label><br>
  <input type="radio" id="2" name="gender" value="2" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 ( able to transfer with verbal cueing and/or supervision.)</label><br>
  <input type="radio" id="3" name="gender" value="3" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="3" style="font-weight:bold">3 ( able to transfer safely with definite need of hands.)</label><br>
  <input type="radio" id="4" name="gender" value="4"[(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="4" style="font-weight:bold">4 ( able to transfer safely with minor use of hands.)</label><br>
  <input type="radio" id="skip" name="gender" value="skip" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="skip" style="font-weight:bold">Not applicable/Skip</label><br>
<button [routerLink]="['/survey4']" (click)="setScore5(flag)" >
      Previous
    </button>
<button [routerLink]="['/survey6']" (click)="setScore5(flag)" [disabled]="!buttonDisabled">
      Next
    </button>