<div style="margin:5px; font-family:Lato;">
<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50" style="line-height:30em; word-break: break-word; width:95%" value="1:{{score1}} 2:{{score2}} 3:{{score3}} 4:{{score4}} 5:{{score5}} 6:{{score6}} 7:{{score7}} 8:{{score8}} 9:{{score9}} 10:{{score10}} 11:{{score11}} 12:{{score12}} 13:{{score13}} 14:{{score14}} Total: {{total}}/{{max}}">
<br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
<button [routerLink]="['/results']">
      Go Back
    </button>

    