<div style="margin:5px; font-family:Lato; overflow-x: hidden;">
<p id="head">
STANDING UNSUPPORTED WITH FEET TOGETHER
</p>
<p style="font-weight:bold">INSTRUCTIONS: Place your feet together and stand without holding</p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="0" name="gender" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 ( needs help to attain position and unable to hold for 15 seconds.)</label><br>
  <input type="radio" id="1" name="gender" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 ( needs help to attain position but able to stand 15 seconds feet together.)</label><br>
  <input type="radio" id="2" name="gender" value="2" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 ( able to place feet together independently but unable to hold for 30 seconds.)</label><br>
  <input type="radio" id="3" name="gender" value="3" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="3" style="font-weight:bold">3 ( able to place feet together independently and stand for 1 minute with supervision.)</label><br>
  <input type="radio" id="4" name="gender" value="4" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="4" style="font-weight:bold">4 ( able to place feet together independently and stand 1 minute safely.)</label><br>
  <input type="radio" id="skip" name="gender" value="skip" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="skip" style="font-weight:bold">Not applicable/Skip</label><br>
  </form>
<button [routerLink]="['/survey6']" (click)="setScore7(flag)">
      Previous
    </button>
<button [routerLink]="['/warning1']" (click)="setScore7(flag)" [disabled]="!buttonDisabled">
      Next
    </button>

   </div>
   <app-timer></app-timer>
   <app-copyright></app-copyright>