<h1>
STANDING UNSUPPORTED
</h1>
<div style="margin:5px; font-family:Lato;">
<p style="font-weight:bold">INSTRUCTIONS: Please stand for two minutes without holding. </p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="male" name="gender" value="0">
  <label for="male" style="font-weight:bold">0 ( unable to stand 30 seconds unassisted.))</label><br>
  <input type="radio" id="female" name="gender" value="1">
  <label for="female" style="font-weight:bold">1 ( needs several tries to stand unsupported.))</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">2 ( able to stand 30 seconds unsupported.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">3 ( able to stand 2 minutes with supervision.)</label><br>
  <input type="radio" id="other" name="gender" value="2">
  <label for="other" style="font-weight:bold">4 ( able to stand safely for 2 minutes.)</label><br>
  <input type="radio" id="other" name="gender" value="skip">
  <label for="other" style="font-weight:bold">Not applicable/Skip</label><br>
  
</form> 
<button [routerLink]="['/survey1']">
      Previous
    </button>
<button [routerLink]="['/survey3']">
      Next
    </button>

    <br>
    <br>
    <div id="appTimer" class="container">
  <p id="labelTimer"> Stopwatch </p><br>
	<button id="startTimer" (click)='start()'>START</button>
	<button id="stopTimer" (click)='stop()'>STOP</button>
	<button id="resetTimer" (click)='reset()'>RESET</button>
	<span id="time">{{minutes}}m {{seconds}}s</span>
</div>