<div style="margin:5px; font-family:Lato; height:70vh; overflow-x: hidden; ">
<h1>
TURN 360 DEGREES
</h1>
<p style="font-weight:bold">INSTRUCTIONS: Turn completely around in a full circle. Pause. Then turn a full circle in the other direction.</p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="0" name="gender" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 ( needs assistance while turning.)</label><br>
  <input type="radio" id="1" name="gender" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 ( needs close supervision or verbal cueing.)</label><br>
  <input type="radio" id="2" name="gender" value="2" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 ( able to turn 360 safely but slowly.)</label><br>
  <input type="radio" id="3" name="gender" value="3" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="3" style="font-weight:bold">3 ( able to turn 360 safely one side only in <4 seconds.)</label><br>
  <input type="radio" id="4" name="gender" value="4" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="4" style="font-weight:bold">4 ( able to turn 360 degrees safely in 4 seconds or less.)</label><br>
  <input type="radio" id="skip" name="gender" value="skip" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="skip" style="font-weight:bold">Not applicable/Skip</label><br>
  </form>

<button [routerLink]="['/survey10']" (click)="setScore11(flag)" >
      Previous
    </button>
<button [routerLink]="['/survey12']" (click)="setScore11(flag)" [disabled]="!buttonDisabled">
      Next
    </button>
</div>
   <app-timer></app-timer>