<div style="margin:5px; font-family:Lato;">
<p id="head">
STANDING TO SITTING
</p>
<p style="font-weight:bold">INSTRUCTIONS: Please sit down. </p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="0" name="gender" value="0" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="0" style="font-weight:bold">0 ( needs assistance to sit.)</label><br>
  <input type="radio" id="1" name="gender" value="1" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="1" style="font-weight:bold">1 ( sits independently but has uncontrolled descent.)</label><br>
  <input type="radio" id="2" name="gender" value="2" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="2" style="font-weight:bold">2 ( uses back of legs against chair to control descent.)</label><br>
  <input type="radio" id="3" name="gender" value="3" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="3" style="font-weight:bold">3 ( controls descent by using hands.)</label><br>
  <input type="radio" id="4" name="gender" value="4" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="4" style="font-weight:bold">4 ( sits safely with minimal use of hands.)</label><br>
  <input type="radio" id="skip" name="gender" value="skip" [(ngModel)]="flag" (change)=radioEventHandler($event)>
  <label for="skip" style="font-weight:bold">Not applicable/Skip</label><br>
<button [routerLink]="['/survey3']" (click)="setScore4(flag)" >
      Previous
    </button>
<button [routerLink]="['/survey5']" (click)="setScore4(flag)" [disabled]="!buttonDisabled">
      Next
    </button>
    <app-copyright></app-copyright>