<div style="margin:5px; font-family:Lato;">
<h1>
STANDING TO SITTING
</h1>
<p style="font-weight:bold">INSTRUCTIONS: Please sit down. </p>
<form>
  <p> Select one of the following:</p>
  <input type="radio" id="male" name="gender" value="0" [(ngModel)]="flag">
  <label for="male" style="font-weight:bold">0 ( needs assistance to sit.)</label><br>
  <input type="radio" id="female" name="gender" value="1" [(ngModel)]="flag">
  <label for="female" style="font-weight:bold">1 ( sits independently but has uncontrolled descent.)</label><br>
  <input type="radio" id="other" name="gender" value="2" [(ngModel)]="flag">
  <label for="other" style="font-weight:bold">2 ( uses back of legs against chair to control descent.)</label><br>
  <input type="radio" id="other" name="gender" value="3" [(ngModel)]="flag">
  <label for="other" style="font-weight:bold">3 ( controls descent by using hands.)</label><br>
  <input type="radio" id="other" name="gender" value="4" [(ngModel)]="flag">
  <label for="other" style="font-weight:bold">4 ( sits safely with minimal use of hands.)</label><br>
  <input type="radio" id="other" name="gender" value="skip" [(ngModel)]="flag">
  <label for="other" style="font-weight:bold">Not applicable/Skip</label><br>
<button [routerLink]="['/survey3']">
      Previous
    </button>
<button [routerLink]="['/survey5']">
      Next
    </button>